log.txt
/Bookstore/bin/
/Bookstore/obj/Debug/
/.vs
*.user
_ReSharper.*
bin
obj
Bookstore/obj/Bookstore.csproj.nuget.dgspec.json
Bookstore/obj/Bookstore.csproj.nuget.g.props
Bookstore/obj/Debug/netcoreapp3.1/Bookstore.assets.cache
Bookstore/obj/Debug/netcoreapp3.1/Bookstore.csprojAssemblyReference.cache
Bookstore/obj/project.assets.json
Bookstore/obj/project.nuget.cache
Bookstore/Migrations/
Bookstore/obj/

